<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.timed.dao.UserDAO">

    <!-- 根据ID查询 user -->

    <select id="getUserById" resultType="cn.timed.domain.User" parameterType="java.lang.Integer" >
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    <select id="getUserByEmail" resultType="cn.timed.domain.User" parameterType="java.lang.Integer" >
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    <select id="getUserByPhone" resultType="cn.timed.domain.User" parameterType="java.lang.Integer" >
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    <select id="getAllUser" resultMap="UserResultMap" >
        SELECT * FROM t_user
    </select>

    <resultMap id="UserResultMap" type="cn.timed.domain.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_account" property="userAccount" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="SMALLINT"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
    </resultMap>

</mapper>